body {
    background: black;
    color: #fff;
  }
  
  main {
    background: black;
  }
  
  .article-listing-item {
    background: #2b2b2b;
  }
  
  .contact-block {
    border-color: #999;
  }
  
  .header__container {
    color: #fff;
  }
  
  .zoom-counter__card:before {
    background: black;
  }
  
  .zoom-counter__card-title,
  .zoom-counter__card-description {
    color: #fff;
  }
  
  .zoom-counter__text {
    color: #999;
  }
  
  .zoom-counters__text {
    color: #999;
  }
  
  .zoom-services__list,
  .zoom-services__item,
  .zoom-services__wrapper {
    border-color: #3f3f3f;
  }
  
  .zoom-services__item {
    background: transparent;
  }
  
  .zoom-services__item-text {
    color: #999;
  }