body {
  background: black;
  color: #fff;
}

main {
  background: black;
}

.article-listing-item {
  background: #2b2b2b;
}

.contact-block {
  border-color: #999;
}
.panorama-slider2__footer:after {
  background: #242323;
}

.video-block:after {
  background-image: url("../../assets/img/dot-dark.jpg");
}

.zoom-counter__card:before {
  background: black;
}

.zoom-counter__card-title,
.zoom-counter__card-description {
  color: #999;
}

.zoom-counter__text {
  color: #999;
}

.zoom-counters__text {
  color: #999;
}

.zoom-services__item {
  background: transparent;
}

.zoom-services__item-text {
  color: #999;
}
.zoom-services__list,
.zoom-services__item,
.zoom-services__wrapper {
  border-color: #3f3f3f;
}