@media (min-width: 1200px) {
    .container {
      padding-top: 13%;
    }
  
    .containerContactus {
      padding-top: 1% !important;
    }
  
    .container-fluid {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .container {
      padding-top: 13%;
    }
  
    .header-fixed {
      bottom: -25px;
    }
  
    .article-listing-item__content {
      padding: 40px;
    }
  
    .articles-list__item {
      margin-bottom: 50px;
    }
  
    .zoom-counter__card {
      width: 40%;
      min-width: 40%;
      margin-right: 10%;
    }
  
    .zoom-counters__value {
      min-width: 1.8em;
    }
  
    .zoom-image-head__body {
      top: -40px;
    }
  
    .whatsapp-icon1 {
      bottom: -4%;
    }
  }
  
  @media (min-width: 1200px) {
    .contact-block {
      padding-top: 12%;
    }
  }
  
  @media (min-width: 1100px) and (max-width: 1199px) {
    .contact-block {
      padding-top: 10%;
    }
  }
  
  @media (min-width: 767px) and (max-width: 1100px) {
    .contact-block {
      padding-top: 20%;
    }
  
    .zoom-image-head__bg2 {
      margin-top: 9%;
      height: 100%;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1365px) {
    .zoom-image-head__bg2 {
      margin-top: -4%;
      height: 120%;
    }
  
    .zoom-image-head__content {
      top: 30%;
    }
  }
  
  @media (min-width: 1366px) {
    .zoom-image-head__bg2 {
      margin-top: -9%;
    }
  
    .zoom-image-head__content {
      top: 30%;
    }
  
    .whatsapp-icon1 {
      bottom: -4%;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .container {
      padding-top: 13%;
    }
  
    .header-fixed {
      bottom: -75px;
    }
  
    .article-listing-item {
      display: block;
    }
  
    .article-listing-item__cover {
      width: 100%;
      padding-bottom: 45%;
    }
  
    .article-listing-item__content {
      width: 100%;
    }
  
    .article-listing-item__text {
      min-height: auto;
    }
  
    .top-menu__menu-item:not(:last-child) {
      margin-right: 30px;
    }
  
    .zoom-counter__card {
      width: 45%;
      min-width: 45%;
      margin-right: 5%;
    }
  
    .zoom-services__item {
      width: 50%;
    }
  
    .zoom-services__item-text {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .zoom-image-head__icon {
      margin-top: 1px;
    }
  
    .article-listing-item__content {
      padding: 20px;
    }
  
    .articles-list__item {
      margin-bottom: 20px;
    }
  
    .footer-studio {
      padding-top: 60px;
      font-size: 14px;
      padding-bottom: 0;
    }
  
    .footer-studio__column {
      margin-bottom: 30px;
    }
  
    .footer-studio__bottom {
      margin-top: 30px;
    }
  
    .header-fixed__bottom {
      font-size: 15px;
    }
  
    .reviews-block__person-image {
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
  
    .studio-filter__inner {
      display: block;
    }
  
    .studio-intro-slide__subtitle {
      font-size: 18px;
    }
  
    .studio-intro-slide__title-wrapper {
      display: block;
    }
  
    .studio-intro-slide__text {
      font-size: 16px;
    }
  
    .zoom-counter {
      padding: 60px 0;
    }
  
    .zoom-counter__inner {
      display: block;
    }
  
    .zoom-counter__card {
      width: 100%;
      margin-right: 0;
    }
  
    .zoom-image-head__title {
    }
  
    .zoom-services__list {
      display: block;
    }
  
    .zoom-services__item {
      width: 100%;
    }
  
    .zoom-services__item-icon {
      margin-bottom: 25px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    .reviews-block__person-image {
      min-width: 40px;
      width: 100px;
      height: 100px;
    }
  
    .studio-intro-slide__title {
      font-size: 70px;
    }
  
    .zoom-image-head__subtitle {
    }
  
    .zoom-image-head__subtitle {
      margin-bottom: 24px;
    }
  
    .zoom-image-head__title {
    }
  
    .zoom-image-head__text {
      font-size: 16px;
    }
  
    .zoom-image-head__bg2 {
    }
  
    .containerDemo {
      padding-top: 0;
      padding-left: 5%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      padding-top: 13%;
    }
  
    .container-fluid {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .container {
      padding-top: 13%;
    }
  
    .header-fixed {
      bottom: -25px;
    }
  
    .article-listing-item__content {
      padding: 40px;
    }
  
    .articles-list__item {
      margin-bottom: 50px;
    }
  
    .zoom-counter__card {
      width: 40%;
      min-width: 40%;
      margin-right: 10%;
    }
  
    .zoom-counters__value {
      min-width: 1.8em;
    }
  
    .zoom-image-head__body {
      top: -40px;
    }
  
    .whatsapp-icon1 {
      bottom: -4%;
    }
  
    .zoom-image-head__content {
      top: 35%;
    }
  }
  
  @media (min-width: 1200px) {
    .contact-block {
      padding-top: 12%;
    }
  }
  
  @media (min-width: 1100px) and (max-width: 1199px) {
    .contact-block {
      padding-top: 16%;
    }
  }
  
  @media (min-width: 767px) and (max-width: 1100px) {
    .contact-block {
      padding-top: 20%;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .container {
      padding-top: 13%;
    }
  
    .header-fixed {
      bottom: -75px;
    }
  
    .article-listing-item {
      display: block;
    }
  
    .article-listing-item__cover {
      width: 100%;
      padding-bottom: 45%;
    }
  
    .article-listing-item__content {
      width: 100%;
    }
  
    .article-listing-item__text {
      min-height: auto;
    }
  
    .top-menu__menu-item:not(:last-child) {
      margin-right: 30px;
    }
  
    .zoom-counter__card {
      width: 45%;
      min-width: 45%;
      margin-right: 5%;
    }
  
    .zoom-services__item {
      width: 50%;
    }
  
    .zoom-services__item-text {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .zoom-image-head__icon {
      margin-top: 1px;
    }
  
    .article-listing-item__content {
      padding: 20px;
    }
  
    .articles-list__item {
      margin-bottom: 20px;
    }
  
    .footer-studio {
      padding-top: 60px;
      font-size: 14px;
      padding-bottom: 0;
    }
  
    .footer-studio__column {
      margin-bottom: 30px;
    }
  
    .footer-studio__bottom {
      margin-top: 30px;
    }
  
    .header-fixed__bottom {
    }
  
    .reviews-block__person-image {
      width: 40px;
      height: 40px;
      min-width: 40px;
    }
  
    .studio-filter__inner {
      display: block;
    }
  
    .studio-intro-slide__subtitle {
      font-size: 18px;
    }
  
    .studio-intro-slide__title-wrapper {
      display: block;
    }
  
    .studio-intro-slide__text {
      font-size: 12px;
    }
  
    .zoom-counter {
      padding: 60px 0;
    }
  
    .zoom-counter__inner {
      display: block;
    }
  
    .zoom-counter__card {
      width: 100%;
      margin-right: 0;
    }
  
    .zoom-image-head__title {
    }
  
    .zoom-services__list {
      display: block;
    }
  
    .zoom-services__item {
      width: 100%;
    }
  
    .zoom-services__item-icon {
      margin-bottom: 25px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    .reviews-block__person-image {
      min-width: 40px;
      width: 100px;
      height: 100px;
    }
  
    .studio-intro-slide__title {
      font-size: 70px;
    }
  
    .zoom-image-head__subtitle {
      margin-bottom: 24px;
    }
  
    .zoom-image-head__title {
    }
  
    .zoom-image-head__text {
      font-size: 16px;
    }
  
    .zoom-image-head__bg2 {
    }
  
    .containerDemo {
      padding-top: 0;
      padding-left: 5%;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .top-menu {
      font-size: 8px !important;
    }
  
    .top-menu__menu-item:not(:last-child) {
      margin-right: 10px !important;
    }
  
    .zoom-image-head__bg-inner {
    }
  
    .zoom-image-head__bg2 {
    }
  
    .whatsapp-icon {
      position: fixed;
      bottom: 0;
      right: 0;
      padding: 10px;
    }
  
    .whatsapp-icon1 {
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 10px;
    }
  
    .zoom-counter__title {
      font-size: 30px;
      margin-bottom: 11px;
      text-align: center;
    }
  
    .zoom-counter__text p {
      text-align: justify;
      font-size: 10.5px;
      margin-left: 2%;
      margin-right: 2%;
    }
  
    .zoom-counter__text {
      margin-bottom: 0 !important;
    }
  
    .zoom-counters__text {
      /* padding-top: 5% !important; */
      font-size: 18px;
    }
  
    .zoom-counters__value {
      min-width: 0 !important;
      font-size: 45px !important;
    }
  
    .zoom-counter {
      padding: 60px 0 0 0px !important;
    }
  
    .zoom-slider {
      margin-bottom: 20px;
    }
  
    .zoom-services__title {
      padding-top: 3vh !important;
    }
  
    .containerDemo2 {
      padding-left: 2vh !important;
      padding-right: 2vh !important;
    }
    .containerDemo2Ser {
      padding-left: 2vh !important;
      padding-right: 2vh !important;
      padding-top: 5vh !important;
    }
  
    .containerDemo2Ind {
      padding-left: 2vh !important;
      padding-right: 2vh !important;
      /* margin-top: 7vh; */
    }
  
    .studio-intro-slide__title1 {
      text-align: center !important;
      margin-left: 0;
      margin-right: 0;
      font-size: 32px;
      padding-bottom: 10px;
    }
  
    .studio-intro-slide__textReal {
      font-size: 16px !important;
      text-align: center !important;
    }
  
    .single-post__image {
      margin-bottom: 0 !important;
    }
  
    .isMobileScreen2 {
      display: none;
    }
  
    .isMobileScreen {
      display: block;
    }
  
    .mobileSetting {
      bottom: 0;
      right: 0;
      z-index: 9999;
      display: flex;
      position: inherit;
    }
  
    .zoom-image-head__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
    }
  
    .zoom-image-head__content {
      top: 30% !important;
    }
  
    .zoom-image-head__subtitle {
      margin-bottom: 10px !important;
    }
  
    .zoom-image-head__text {
      font-size: 12px;
    }
  
    .service-detail__subtitlevv1 {
      font-size: 30px;
      text-align: center;
      margin-top: 0;
    }
  
    .service-detail__underText1 {
      font-size: 15px;
      text-align: justify;
      margin-top: 0;
      line-height: 1.4;
      hyphens: auto;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .service-detail__subtitle {
      font-size: 30px;
      max-width: 100%;
    }
  
    .col-sm-4 {
      max-width: 100% !important;
    }
  
    .studio-filter__title {
      font-size: 55px;
    }
  
    .containerDemo21 {
      padding-top: 1px !important;
    }
  
    .single-post__title {
      font-size: 40px;
      font-weight: 500;
    }
  
    .Background video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 36%;
    }
  
    .Background1 video {
      display: none;
    }
  
    .Background1 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 28% !important;
    }
  
    .Background1Desk img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 33% !important;
    }
  
    .BackgroundAbo img {
      width: 100%;
      height: 100%;
    }
  
    .showimg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 26% !important;
    }
  
    .studio-intro-slide__innerReal {
      margin-top: 45vh;
    }
  
    .studio-intro-slide__innerConst {
      margin-top: 45vh;
    }
  
    .header__container {
      width: 100%;
      margin-top: 13%;
    }
  
    .bottom-center-text {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: white;
  
      width: 100%;
      overflow-y: auto;
      font-size: 17px;
      line-height: 1;
    }
  
    .line1 {
      font-size: 14px;
    }
  
    .line2 {
      font-size: 14px;
    }
  
    .line3 {
      font-size: 14px;
    }
  
    .line4 {
      font-size: 14px;
    }
  
    .line5 {
      font-size: 14px;
    }
  
    .bottom-center-text {
      display: none;
    }
  
    .timeToShow {
      display: block;
      position: absolute;
      top: 72vh;
      color: white;
      width: 100%;
      line-height: 1.4;
      text-align: center;
  
      padding-left: 15px;
      padding-right: 15px;
      hyphens: auto;
      font-size: 11px;
    }
  
    .article-listing-item__title {
      margin-bottom: 1px !important;
      font-size: 40px;
    }
  
    .parallax-image__image {
      display: none;
    }
  
    .BackgroundAbout {
      position: absolute;
      top: 0%;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    .aboutUsImg {
      display: block;
      transform: scale(1);
    }
  
    .contact-block__form {
      display: block;
      margin-top: 15%;
    }
  
    .studio-intro-slide {
      min-height: 100vh;
    }
  
    .studio-intro-slide__innerDesign {
      margin-top: 45vh;
    }
  
    .articles-list {
      margin-bottom: 1px !important;
    }
  
    .articles-list-wrapper {
      /* padding-bottom: 30px !important; */
    }
  
    .containerContactus {
      padding-top: 17% !important;
    }
  
    .zoom-image-head__title {
      margin-bottom: 4vh;
      font-size: 70px;
    }
  
    .zoom-image-head__subtitle {
      font-size: 70px;
    }
  
    .articles-list__item {
      margin-bottom: 50px !important;
    }
  
    .article-listing-item__text {
      font-size: 13px;
    }
  
    .studio-intro-slide__text {
      font-size: 12px;
      margin-top: 5%;
    }
    /* .zoom-counter__subtitle {
      margin-top: 4vh;
    } */
  
    .top-menu__menu-link {
      color: currentColor;
      font-family: inherit;
      text-decoration: none;
      transition: 0.3s ease;
      background: none;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
    }
    .zoom-image-head__bg,
    .zoom-image-head__bg2,
    .zoom-image-head__content {
      transition: transform 0.5s ease !important, opacity 0.5s ease !important;
    }
  
    .zoom-counter__card,
    .zoom-counter__title,
    .zoom-counter__text,
    .zoom-counter__read-more {
      opacity: 0 !important;
      transform: translateY(20px) !important;
      transition: opacity 0.6s ease-out !important, transform 0.6s ease-out !important;
    }
  
    .visible {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
    
    .no-mobile {
      padding-bottom: 0 !important;
    }
    .mobile {
      padding-bottom: 0 !important;
    }
    
  .zoom-counter__card{
    margin-bottom: 0 !important;
  }
   .zoom-counter__card-value {
   
    font-size: 170px;
    margin-left: -5%;
    margin-bottom: 0px !important;
  }
  .zoom-counter__card-description {
    color: #000;
    font-size: 14px;
    
  }
  .zoom-counter__card-description1 {
    color: #fff;
    font-size: 20px;
  
  }
  .top-menu__menu-link_active:after {
    opacity: 1;
  }
  .top-menu__menu-link_active {
    background: linear-gradient(45deg, #f9b340, #e9c16b, #fedf9e, #dbb04e);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
  .masonry-item__title1 {
    font-family: "Teko", Helvetica, sans-serif;
    font-size: 35px;
    line-height: 0.3;
    display: block;
    transition: color 0.3s;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
  }
  
  }