@media (min-width: 1200px) {
  .container {
    padding-top: 13%;
  }
  .containerContactus {
    padding-top: 1% !important;
  }

  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 1629px) {
}

@media only screen and (max-width: 1439px) {
}

@media only screen and (max-width: 1199px) {
  .container {
    padding-top: 13%;
  }

  .header-fixed {
    bottom: -25px;
  }

  .article-listing-item__content {
    padding: 40px;
  }

  .articles-list__item {
    margin-bottom: 50px;
  }

  .zoom-counter__card {
    width: 40%;
    min-width: 40%;
    margin-right: 10%;
  }

  .zoom-counters__value {
    min-width: 1.8em;
  }

  .zoom-image-head__body {
    top: -40px;
  }

  .whatsapp-icon1 {
    bottom: -4%;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .contact-block {
    padding-top: 12%;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .contact-block {
    padding-top: 10%;
  }
}

@media (min-width: 767px) and (max-width: 1100px) {
  .contact-block {
    padding-top: 20%;
  }

  .zoom-image-head__bg2 {
    margin-top: 9%;
    height: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1365px) {
  .zoom-image-head__bg2 {
    margin-top: -4%;
    height: 120%;
  }

  .zoom-image-head__content {
    top: 30%;
  }
}

@media (min-width: 1366px) {
  .zoom-image-head__bg2 {
    margin-top: -9%;
  }

  .zoom-image-head__content {
    top: 30%;
  }

  .whatsapp-icon1 {
    bottom: -4%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding-top: 13%;
  }

  .header-fixed {
    bottom: -75px;
  }

  .article-listing-item {
    display: block;
  }

  .article-listing-item__cover {
    width: 100%;
    padding-bottom: 45%;
  }

  .article-listing-item__content {
    width: 100%;
  }

  .article-listing-item__text {
    min-height: auto;
  }

  .posts__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .top-menu__menu-item:not(:last-child) {
    margin-right: 30px;
  }

  .zoom-counter__card {
    width: 45%;
    min-width: 45%;
    margin-right: 5%;
  }

  .zoom-services__item {
    width: 50%;
  }

  .zoom-services__item-text {
    font-size: 14px;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 35px;
  }

  .zoom-slider__slider-wrapper:before,
  .zoom-slider__slider-wrapper:after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .zoom-image-head__icon {
    margin-top: 1px;
  }

  .article-listing-item__content {
    padding: 20px;
  }

  .articles-list__item {
    margin-bottom: 20px;
  }

  .footer-studio {
    padding-top: 60px;
    font-size: 14px;
    padding-bottom: 0;
  }

  .footer-studio__column {
    margin-bottom: 30px;
  }

  .footer-studio__bottom {
    margin-top: 30px;
  }

  .header-fixed__bottom {
    font-size: 15px;
  }

  .panorama-slider2__footer:after {
    right: 0;
  }

  .studio-filter__inner {
    display: block;
  }

  .studio-intro-slide__subtitle {
    font-size: 18px;
  }

  .studio-intro-slide__title-wrapper {
    display: block;
  }

  .studio-intro-slide__text {
    font-size: 16px;
  }

  .zoom-counter {
    padding: 60px 0;
  }

  .zoom-counter__inner {
    display: block;
  }

  .zoom-counter__card {
    width: 100%;
    margin-right: 0;
  }

  .zoom-image-head__title {
  }

  .zoom-services__list {
    display: block;
  }

  .zoom-services__item {
    width: 100%;
  }

  .zoom-services__item-icon {
    margin-bottom: 25px;
  }

  .zoom-slider__slider:after {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .studio-intro-slide__title {
    font-size: 70px;
  }

  .zoom-image-head__subtitle {
  }

  .zoom-image-head__subtitle {
    margin-bottom: 24px;
  }

  .zoom-image-head__title {
  }

  .zoom-image-head__text {
    font-size: 16px;
  }

  .zoom-image-head__bg2 {
  }

  .containerDemo {
    padding-top: 0;
    padding-left: 5%;
  }
}

=======@media (min-width: 1200px) {
  .container {
    padding-top: 13%;
  }

  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (max-width: 1629px) {
}

@media only screen and (max-width: 1439px) {
}

@media only screen and (max-width: 1199px) {
  .container {
    padding-top: 13%;
  }

  .header-fixed {
    bottom: -25px;
  }

  .article-listing-item__content {
    padding: 40px;
  }

  .articles-list__item {
    margin-bottom: 50px;
  }

  .zoom-counter__card {
    width: 40%;
    min-width: 40%;
    margin-right: 10%;
  }

  .zoom-counters__value {
    min-width: 1.8em;
  }

  .zoom-image-head__body {
    top: -40px;
  }

  .whatsapp-icon1 {
    bottom: -4%;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 40px;
  }

  .zoom-image-head__content {
    top: 35%;
  }
}

@media (min-width: 1200px) {
  .contact-block {
    padding-top: 12%;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  .contact-block {
    padding-top: 16%;
  }
}

@media (min-width: 767px) and (max-width: 1100px) {
  .contact-block {
    padding-top: 20%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding-top: 13%;
  }

  .header-fixed {
    bottom: -75px;
  }

  .article-listing-item {
    display: block;
  }

  .article-listing-item__cover {
    width: 100%;
    padding-bottom: 45%;
  }

  .article-listing-item__content {
    width: 100%;
  }

  .article-listing-item__text {
    min-height: auto;
  }

  .posts__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .top-menu__menu-item:not(:last-child) {
    margin-right: 30px;
  }

  .zoom-counter__card {
    width: 45%;
    min-width: 45%;
    margin-right: 5%;
  }

  .zoom-services__item {
    width: 50%;
  }

  .zoom-services__item-text {
    font-size: 14px;
  }

  .zoom-slider__filter-link:not(:last-child) {
    margin-right: 35px;
  }

  .zoom-slider__slider-wrapper:before,
  .zoom-slider__slider-wrapper:after {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .zoom-image-head__icon {
    margin-top: 1px;
  }

  .article-listing-item__content {
    padding: 20px;
  }

  .articles-list__item {
    margin-bottom: 20px;
  }

  .footer-studio {
    padding-top: 60px;
    font-size: 14px;
    padding-bottom: 0;
  }

  .footer-studio__column {
    margin-bottom: 30px;
  }

  .footer-studio__bottom {
    margin-top: 30px;
  }

  .header-fixed__bottom {
  }

  .panorama-slider2__footer:after {
    right: 0;
  }

  .studio-filter__inner {
    display: block;
  }

  .studio-intro-slide__subtitle {
    font-size: 18px;
  }

  .studio-intro-slide__title-wrapper {
    display: block;
  }

  .studio-intro-slide__text {
    font-size: 12px;
  }

  .zoom-counter {
    padding: 60px 0;
  }

  .zoom-counter__inner {
    display: block;
  }

  .zoom-counter__card {
    width: 100%;
    margin-right: 0;
  }

  .zoom-image-head__title {
  }

  .zoom-services__list {
    display: block;
  }

  .zoom-services__item {
    width: 100%;
  }

  .zoom-services__item-icon {
    margin-bottom: 25px;
  }

  .zoom-slider__slider:after {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .studio-intro-slide__title {
    font-size: 70px;
  }

  .zoom-image-head__subtitle {
  }

  .zoom-image-head__subtitle {
    margin-bottom: 24px;
  }

  .zoom-image-head__title {
  }

  .zoom-image-head__text {
    font-size: 16px;
  }

  .zoom-image-head__bg2 {
  }

  .containerDemo {
    padding-top: 0;
    padding-left: 5%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .top-menu {
    font-size: 8px !important;
  }

  .header-fixed {
  }

  .top-menu__menu-item:not(:last-child) {
    margin-right: 10px !important;
  }

  .zoom-image-head__bg-inner {
  }

  .zoom-image-head__bg2 {
  }

  .whatsapp-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
  }

  .whatsapp-icon1 {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
  }

  .zoom-counter__title {
    font-size: 40px;
    margin-bottom: 11px;
    text-align: center;
  }

  .zoom-counter__text p {
    text-align: justify;
    font-size: 14.5px;
    margin-left: 1%;
    margin-right: 2%;
  }

  .zoom-counter__text {
    margin-bottom: 0 !important;
  }

  .zoom-counters__text {
    padding-top: 5% !important;
    font-size: 18px;
  }

  .zoom-counters__value {
    min-width: 0 !important;
    font-size: 60px !important;
  }

  .zoom-counter {
    padding: 60px 0 0 0px !important;
  }

  .zoom-slider {
    margin-bottom: 20px;
  }

  .zoom-services__title {
    padding-top: 3vh !important;
  }

  .containerDemo2 {
    padding-left: 2vh !important;
    padding-right: 2vh !important;
  }

  .studio-intro-slide__title1 {
    text-align: center !important;
    margin-left: 0;
    margin-right: 0;
    font-size: 32px;
    padding-bottom: 10px;
  }

  .studio-intro-slide__textReal {
    font-size: 16px !important;
    text-align: center !important;
  }

  .single-post__image {
    margin-bottom: 0 !important;
  }

  .isMobileScreen2 {
    display: none;
  }

  .isMobileScreen {
    display: block;
  }

  .mobileSetting {
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    position: inherit;
  }

  .zoom-image-head__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .zoom-image-head__content {
    top: 30% !important;
  }

  .zoom-image-head__subtitle {
    margin-bottom: 10px !important;
  }

  .zoom-image-head__text {
    font-size: 12px;
  }

  .service-detail__subtitlevv1 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
  }

  .service-detail__underText1 {
    font-size: 15px;
    text-align: justify;
    margin-top: 0;
    line-height: 1.4;
    hyphens: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .service-detail__subtitle {
    font-size: 30px;
    max-width: 100%;
  }

  .col-sm-4 {
    max-width: 100% !important;
  }

  .studio-filter__title {
    font-size: 55px;
  }

  .containerDemo21 {
    padding-top: 1px !important;
  }

  .single-post__title {
    font-size: 40px;
    font-weight: 500;
  }

  .Background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 36%;
  }

  .Background1 video {
    display: none;
  }

  .Background1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 28% !important;
  }

  .showimg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 26% !important;
  }

  .studio-intro-slide__innerReal {
    margin-top: 10vh;
  }

  .studio-intro-slide__innerConst {
    margin-top: 50vh;
  }

  .header__container {
    width: 100%;
    margin-top: 13%;
  }

  .bottom-center-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;

    width: 100%;
    overflow-y: auto;
    font-size: 17px;
    line-height: 1;
  }

  .line1 {
    font-size: 14px;
  }

  .line2 {
    font-size: 14px;
  }

  .line3 {
    font-size: 14px;
  }

  .line4 {
    font-size: 14px;
  }

  .line5 {
    font-size: 14px;
  }

  .bottom-center-text {
    display: none;
  }

  .timeToShow {
    display: block;
    position: absolute;
    top: 40vh;
    color: white;
    width: 100%;
    line-height: 1.4;
    text-align: center;

    padding-left: 15px;
    padding-right: 15px;
    hyphens: auto;
    font-size: 11px;
  }

  .article-listing-item__title {
    margin-bottom: 1px !important;
    font-size: 40px;
  }

  .BackgroundAbout {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 4%;
    width: 100%;
    height: 100%;
  }

  .aboutUsImg {
    display: block;
    transform: scale(1.1);
  }

  .studio-intro-slideConstructionv2 {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    background-size: cover;
    text-align: left;
    position: relative !important;
    z-index: 999 !important;
    color: #fff;
    overflow: hidden;
  }

  .contact-block__form {
    display: block;
    margin-top: 15%;
  }

  .studio-intro-slide {
    min-height: 100vh;
  }

  .studio-intro-slide__innerDesign {
    margin-top: 20vh;
  }

  .articles-list {
    margin-bottom: 1px !important;
  }

  .articles-list-wrapper {
    padding-bottom: 30px !important;
  }

  .containerContactus {
    padding-top: 17% !important;
  }

  .studio-intro-slideConstructionCon {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative !important;
    z-index: 999 !important;
    color: #fff;
    overflow: hidden;
  }

  .zoom-image-head__title {
    margin-bottom: 4vh;
    font-size: 70px;
  }

  .zoom-image-head__subtitle {
    font-size: 70px;
  }

  .articles-list__item {
    margin-bottom: 50px !important;
  }

  .article-listing-item__text {
    font-size: 13px;
  }
}
